html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .1em;
}

.link-card {
  text-decoration: none;
  border: 3px solid #9a816d;
  background-color: #dcd4cd;
  border-radius: 8px;
  border-width: 3px;
  padding: 1rem;
  display: block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn:hover {
  background-color: #512200;
}

.link-card h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: Dosis;
  font-weight: bold;
  font-size: 1.5rem;
  color: #512200;
}

.btn {
  margin-top: 1rem;
  padding: .4em .75em .5em;
  background-color: #785439;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin-left: 3rem;
  margin-right: 3rem;
}

p {
  font-size: 1rem;
  color: #512200;
}

dl {
  color: #512200;
  font-size: .875rem;
  list-style-type: none;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  margin-top: 1rem;
}

dt {
  display: inline-block;
  width: 48%;
}

dd {
  display: inline-block;
  width: 48%;
  font-style: italic;
  margin: 0;
}
