html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 0 1rem;
  padding: 1rem;
}

h2 {
  font-style: Dosis;
  font-size: 1.125rem;
  color: #512200;
}

p {
  font-size: 1rem;
  color: #512200;
}

hr {
  border-top: 1px solid #9a816d;
}
 main {
   background: #dcd4cd;
   border-style: solid;
   border-color: #9a816d;
   border-radius: 8px;
   border-width: 3px;
 }
